<!DOCTYPE html>
<html>
<head>
  <title>Saudi Education</title>
  <link rel="stylesheet" href="../static/lib/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/lib/css/keen-dashboards.css">
  <link rel="stylesheet" href="../static/css/style.css">
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <meta http-equiv="content-type" content="text/html; charset=UTF8">



</head>
<body class="application">

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="./">Higher Education in Saudi Arabia</a>
      </div>
        <ul class="nav navbar-nav navbar-right">
        <li><a href="#">About</a></li>
            <li><a href="#">Demo</a></li>
            <li><a href="#">Process book</a></li>
      </ul>
    </div>
  </div>

  <div class="container-fluid">

    <div class="row">

      <div class="col-sm-6">
        <div class="row">

           <!-- Year Gender Chart -->
          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                Number of Students
              </div>
              <div class="chart-stage">
                <div id="yeargender-chart"></div>
              </div>
            </div>
          </div>
          <!-- Year Gender Chart -->

          <!-- Year Chart -->
          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                Number of Students
              </div>
              <div class="chart-stage">
                <div id="year-chart"></div>
              </div>
            </div>
          </div>
          <!-- Year Chart -->

          <!-- level -->
          <div class="col-sm-6">
            <div class="chart-wrapper">
              <div class="chart-title">
                Level
              </div>
              <div class="chart-stage">
                <div id="level-chart"></div>
              </div>
            </div>
          </div>
          <!-- level -->


          <div class="col-sm-6">

            <div class="row">
            <!-- Gender -->
            <div class="col-sm-12">
              <div class="chart-wrapper">
                <div class="chart-title">
                  Gender
                </div>
                <div class="chart-stage">
                  <div id="gender-chart"></div>
                </div>
              </div>
            </div>
            </div>
            <!-- Gender -->


          </div>


        </div>
      </div>


      <div class="col-sm-2">
        <div class="row">

          <!-- Subject Chart -->
          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                Subject
              </div>
              <div class="chart-stage">
                <div id="subject-chart" style="height: 100%"></div>
              </div>
            </div>
          </div>
          <!-- Subject Chart  -->
        </div>
      </div>



      <div class="col-sm-4">

        <div class="row">
          <!-- Overview -->
          <div id="dynamic-charts" class="col-sm-12">
            <div  class="chart-wrapper">
              <div class="chart-title">
                Overview 1
                <div class="chart-tools">
                  <!--<span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span>-->
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>


                </div>
              </div>
              <div class="chart-stage">
                <div id="overview" style="width: 400px; height: 380px"></div>
              </div>
            </div>



          <!-- Overview -->
        </div>

      </div>

    </div>

  </div>

  <hr>

  <script src="../static/lib/js/d3/d3.min.js"></script>
  <script src="../static/lib/js/crossfilter.js"></script>

  <script src="https://d3js.org/d3-dispatch.v1.min.js"></script>
  <script src="../static/lib/js/jquery.min.js"></script>
  <script src="../static/lib/js/bootstrap.min.js"></script>
  <script src="../static/lib/js/underscore-min.js"></script>
  <script src="../static/lib/js/queue.js"></script>
  <script src="../static/lib/js/keen.min.js"></script>

  <script type="application/javascript" src="../static/js/yeargenderChart.js"></script>
  <script type="application/javascript" src="../static/js/yearChart.js"></script>
  <script type="application/javascript" src="../static/js/levelChart.js"></script>
  <script type="application/javascript" src="../static/js/genderChart.js"></script>
  <script type="application/javascript" src="../static/js/subjectChart.js"></script>
  <script type="application/javascript" src="../static/js/overviewChart.js"></script>
  <script src='../static/js/main.js' type='text/javascript'></script>

</body>
</html>



<!--



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Higher Education in Saudi Arabia</title>
    <link rel="stylesheet" href="public/css/style.css"/>
    &lt;!&ndash;<script src="https://d3js.org/d3.v4.min.js"></script>&ndash;&gt;
    <script type="text/javascript" src="bower_components/d3/d3.js"></script>
    <script type="text/javascript" src="bower_components/d3-tip/index.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/2.9.0/d3-legend.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    &lt;!&ndash; Latest compiled and minified CSS &ndash;&gt;
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    &lt;!&ndash; Optional theme &ndash;&gt;
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    &lt;!&ndash; Latest compiled and minified JavaScript &ndash;&gt;
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>


</head>

<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        &lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Higher Education in Saudi Arabia</a>
        </div>

        &lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            &lt;!&ndash;<form class="navbar-form navbar-right">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>&ndash;&gt;
        </div>&lt;!&ndash; /.navbar-collapse &ndash;&gt;
    </div>&lt;!&ndash; /.container-fluid &ndash;&gt;
</nav>


<div class="container">
    <div class="row">
        <div id="main-view" class="col-md-8">
            <div id="story-vis"></div>
            <div id="chart-vis"></div>
            <div id="years-vis">

                <div class="row">
                    <div class="col-md-1"><span class="btn glyphicon glyphicon-play" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-10">
                        <div id="year-chart" class="view"></div>
                    </div>
                </div>
            </div>
        </div>


        <div id="subject-group-view" class="col-md-4">
            <div class="subject-con" style="margin-top: 50px">

                <div class="subject-button">
                    <div id='subject-chart' class="subject-vis"></div>
                    <p>All</p>
                </div>

                <div class="subject-button selected">
                    <div class="subject-vis">

                    </div>
                    <p>Art</p>
                </div>
                <div class="subject-button">
                    <div class="subject-vis">

                    </div>
                    <p>Health</p>
                </div>
                <div class="subject-button">
                    <div class="subject-vis">

                    </div>
                    <p>Islamic Studies</p>
                </div>
                <div class="subject-button">
                    <div class="subject-vis">

                    </div>
                    <p>Humanities</p>
                </div>
                <div class="subject-button">
                    <div class="subject-vis">
                        
                    </div>
                    <p>Business and Management</p>
                </div>
                <div class="subject-button">
                    <div class="subject-vis">
                        
                    </div>
                    <p>Technology</p>
                </div>

            </div>
        </div>
    </div>&lt;!&ndash; /.row &ndash;&gt;
</div>&lt;!&ndash; /.container &ndash;&gt;


<script type="application/javascript" src="public/js/yearChart.js"></script>
<script type="application/javascript" src="public/js/overviewChart.js"></script>
<script type="application/javascript" src="public/js/subjectChart.js"></script>
<script type="application/javascript" src="public/js/main.js"></script>



</body>
</html>
-->
